/*     Created on : 31.12.2018, 6:30:43 */
@font-face {
/*    font-family: "Myriad Pro";
    src: url("../fonts/Myriad Pro Light SemiExt Bold.ttf");
    font-family: "MyriadProOTF";
    src: url("../fonts/MyriadPro-LightSemiExt.otf");*/
    font-family: "MyriadPro";
    src: url("../fonts/myriadpro-regular.ttf");
   }
div {
  border: red;
  font-family: "MyriadPro";
  font-size: 16px;
  color: red;
}
body {
    margin: 0px;
}
.lft {
    float: left;
    width: 430px;
    border: 0px solid red;
    margin-left: 60px;
/*    margin-top: 76px;
padding-right: 30px;*/
}
.namehere {
  /*width: 270px;
  height: 36px; */
  font-family: "Myriad Pro Light";
  font-size: 52px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.01em;
  text-align: center;
  margin-top: 30px;
  line-height: 52px;
}
.surname {
/*  margin-left: auto;
  margin-right: auto;
  width: 276px;
  height: 42px; */
  font-family: Myriad Pro;/**/
  font-size: 61.5px;
  font-weight: 900;
  /*font-style: normal;
  font-stretch: normal;
  line-height: normal;*/
  letter-spacing: -0.03em;
  text-align: center;
  margin-top: -10px;
}
.graphic-designer {
  /*width: 211px;
  height: 17px;*/
  text-align: center;
  line-height: 1.2;
  font-family: Myriad Pro;
  font-size: 25px;
  font-weight: 900;
  font-style: normal;
  font-stretch: ultra-condensed;
  line-height: normal;
  letter-spacing: -0.03px;
  /*text-align: left;
  color: #000000;*/
  transform: scaleX( 0.91);
  margin-top: 5px;

}
.circle {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  border: 1px solid #3d6cb0;
  margin-left: 99px;
  margin-top: 12px;
}
.incircle {
  width: 204px;
  height: 203px;
  border-radius: 50%;
  background-color: #3d6cb0;
  margin: auto;
  margin-top: 15px;
}
.incircle.skill {
  width: 18px;
  height: 18px;
  display: inline-block;
  background-color: red;
  margin: 0px 3.3px;
}
.incircle.skill.edu {
  display: inline-block;
  background-color: red;
  margin: 0px 0px;
  width: 21px;
  height: 21px;
}
.circle.middle {
  width: 72px;
  height: 72px;
  float: left;
  margin-left: 0px;
  margin-top: 0px;
}
.incircle.middle {
  width: 80%;
  height: 80%;
}
.small {
  width: 24px;
  height: 24px;
  background-color: black;
}
span.bld {
  font-weight: 600;
}
.hdr {
  font-size: 41px;
  font-weight: 900;
  margin-top: 72px;
  margin-bottom: 5px;
  line-height: 78px;
  display: table;
      width: inherit;
}
.hdr i {
  margin-right: 3px;
  font-size: 73px;
  vertical-align: middle;
  display: table-cell;
}
.hdr span {
    font-family: Myriad Pro;
    font-weight: 900;
    font-size: 41x;
    letter-spacing: -1px;
    display: table-cell;
    padding-left: 10px;
}
.txt {
color: red;
    font-size: 15.5px;
    font-family: MyriadPro;
    font-weight: normal;
    /* letter-spacing: 0.20px; */
    line-height: 18.7px;
    margin-right: 15px;
/*  Regular  transform: scaleX (1.2);

   padding-right: 5px;*/
}
.txt span {
    font-weight: 900;
    font-family: MyriadPro;
  letter-spacing: 0.45px;
    line-height: initial;
}
h3 {
    font-size: 1.4em;
    margin-top: 1.3em;
}

.Rate {
/*background: url(../tmp/stars-opacity.png); */
    width: 550px;
    height: 30px;
    float: none;
    margin: 22px;
    /* z-index: 11; */
}
.Rate .star {
    background: url(../tmp/stars-opacity.png);
    background-size: 8.5% 100%;
    /* position: relative; */
    width: 0;
    height: 100%;
    float: left;
}
.fon {
    background-color: red;
    /* position: relative; */
    width: 50%;
    height: 100%;
    top: 0px;
}


/*sprite with stars*/
Stars input:checked ~ label,
#Stars label,
#Stars label:hover,
#Stars label:hover ~ label {
background: url('../tmp/stars2.png') no-repeat;
}
#Stars {  /*fix floating problems*/
  overflow: hidden;
  *zoom: 1;  /*end of fix floating problems*/
  position: relative;
  /*float: left;*/
}
#Stars input {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  width: 43px;  height: 40px;
  position: absolute;
  top: 0;
  z-index: 0;
}
#Stars input:checked ~ label {
  background-position: 0 -40px;
  height: 40px;  width: 43px;
}
#Stars label {
  background-position: 0 0;
  height: 40px;  width: 43px;
  float: left;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
  z-index: 1;
}
#Stars label:hover,
#Stars label:hover ~ label {
  background-position: 0 -40px;
  height: 40px;   width: 43px;
}
#Stars #star-0 {
  left: 0px;
}
#Stars #star-1 {
  left: 53px;
}
#Stars #star-2 {
  left: 106px;
}
#Stars #star-3 {
  left: 159px;
}
#Stars #star-4 {
  left: 212px;
}
#Stars #star-5 {
  left: 265px;
}

