/*     Created on : 31.12.2018, 6:30:43 */
@font-face {
/*    font-family: "Myriad Pro";
    src: url("../fonts/Myriad Pro Light SemiExt Bold.ttf");
    font-family: "MyriadProOTF";
    src: url("../fonts/MyriadPro-LightSemiExt.otf");*/
    font-family: "MyriadPro";
    src: url("../fonts/myriadpro-regular.ttf");
   }
div {
  border: red;
  font-family: "MyriadPro";
  font-size: 16px;
  color: red;
}
body {
    margin: 0px;
}
.lft {
    float: left;
    width: 430px;
    border: 1px solid red;
    margin-left: 60px;
/*    margin-top: 76px;
padding-right: 30px;*/
}
.namehere {
  /*width: 270px;
  height: 36px; */
  font-family: "Myriad Pro Light";
  font-size: 52px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.01em;
  text-align: center;
 /*  font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures;*/
}
.surname {
  margin-left: auto;
  margin-right: auto;
  width: 276px;
  height: 42px;
  font-family: Myriad Pro;/**/
  font-size: 61.5px;
  font-weight: 900;
  /*font-style: normal;
  font-stretch: normal;
  line-height: normal;*/
  letter-spacing: -0.030em;
/*  text-align: left;*/
}
.graphic-designer {
  /*width: 211px;
  height: 17px;*/
  text-align: center;
  line-height: 1.2;
  font-family: Myriad Pro;
  font-size: 25px;
  font-weight: 900;
  font-style: normal;
  font-stretch: ultra-condensed;
  line-height: normal;
  letter-spacing: -0.03px;
  /*text-align: left;
  color: #000000;*/
  transform: scaleX( 0.91);

}
.circle {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  border: 1px solid #3d6cb0;
  margin-left: 99px;
  margin-top: 12px;
}
.incircle {
  width: 204px;
  height: 203px;
  border-radius: 50%;
  background-color: #3d6cb0;
  margin: auto;
  margin-top: 15px;
}
.circle.middle {
  width: 72px;
  height: 72px;
  float: left;
  margin-left: 0px;
  margin-top: 0px;
}
.incircle.middle {
  width: 80%;
  height: 80%;
}
.small {
  width: 24px;
  height: 24px;
  background-color: black;
}
span.bld {
  font-weight: 600;
}
.hdr {
  font-size: 41px;
  letter-spacing: -0.03px;
  transform: scaleX( 0.96);
  font-weight: 900;
/*    font-size: 16.667px;
  font-family: "Myriad Pro";
  color: rgb(61, 108, 176);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 2.46941347123943,0,0,2.46907102918116,0,0);
  -webkit-transform: matrix( 2.46941347123943,0,0,2.46907102918116,0,0);
  -ms-transform: matrix( 2.46941347123943,0,0,2.46907102918116,0,0);
    position: absolute;
  left: 190.443px;
  top: 597px;
  z-index: 178;*/
}
.hdr span {
    text-decoration: line-through;/**/
    font-weight: 900;
    font-size: 55px;
}
.txt {
color: red;
    font-size: 15.5px;
    font-family: MyriadPro;
    font-weight: normal;
    /* letter-spacing: 0.20px; */
    line-height: 18.7px;
    margin-right: 15px;
/*  Regular  transform: scaleX (1.2);

   padding-right: 5px;*/
}
.txt span {
    font-weight: 900;
    font-family: MyriadPro;
    letter-spacing: 0.45px;
    line-height: initial;
}
