/tmp/
/cv-01.css
/cv-02 w marks.png
/Golden Fish.html
/cv-02.png
/cv-OBJECT.png
/cv-01.png
/ripple effect css Снимок экрана 2016-10-09 в 16.29.44.png
/index.php_
/flatUI-STANDARD BUTTONS.png
/fonts/MyriadPro/
/fonts/MyriadPro-PS.jpg
/fonts/MyriadPro-Chrom.jpg
/fonts/MyriadProFonts.jpg
/fonts/MyriadPro.jpg
/fonts/MyriadPro.zip
/fonts/MyriadPro-Win8.jpg
/fonts/Шрифты.xlsx
/fonts/MyriadPro-Zeplin — копия.jpg
/git.txt
/nbproject/